/* RESET */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,ß small{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}iframe,img,object,video{max-width:100%}b,strong{font-weight:700}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* GENERAL START */
html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 14rem 1rem 10rem;
}

.hero .wrapper {
  padding: 0 1rem;
}

.heroHeading {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.sectionHeading {
  font-size: 1.8rem;
  text-align: center;
}

.content {
  margin: 0 auto;
  position: relative;
}

.title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'Montserrat', sans-serif; 
  margin-bottom: 15px;
}

.blurb {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
}

.shareIcons i {
  float: left;
  font-size: 1.5rem;
  margin-right: 20px;
  color: #000;
}

input {
  font-family: 'Open Sans', sans-serif;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 1.2rem;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 1.2rem;
}

input::placeholder, textarea::placeholder {
  font-size: 1.2rem;
}

.line {
  border: 1px solid #000;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.1rem;
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  transition: -webkit-transform 600ms ease-out;
  -webkit-transition: -webkit-transform 600ms ease-out;
  transition: transform 600ms ease-out;
  transition: transform 600ms ease-out, -webkit-transform 600ms ease-out;
  transition: transform 600ms ease-out,
  -webkit-transform 600ms ease-out;
}
/* GENERAL END */

/* ANIMATIONS */

@-webkit-keyframes lineIn {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(100%)  ;
    -webkit-transform: translateX(100%)  ;
    -moz-transform: translateX(100%)  ;
    -ms-transform: translateX(100%)  ;
    -o-transform: translateX(100%)  ;
  }
}

@keyframes lineIn {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(100%)  ;
    -webkit-transform: translateX(100%)  ;
    -moz-transform: translateX(100%)  ;
    -ms-transform: translateX(100%)  ;
    -o-transform: translateX(100%)  ;
  }
}

/* HEADER START */
header {
  height: 90vh;
  min-height: 600px;
  background: tomato url(../images/home-1.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

nav a {
  color: #000;
}

nav.wrapper {
  padding: 4rem 0;
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase;
  font-size: 1.2rem;
}
nav .mainHeading {
  width: 33.333%;
  float: left;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  margin: 0;
}
nav .navIcon {
  width: 16px;
}
nav .navIcon img {
  width: inherit;
}
nav .leftNav {
  width: 33.333%;
  float: left;
}
nav .rightNav {
  width: 33.333%;
  float: left;
  text-align: right;
}
nav .leftNav li, nav .rightNav li {
  display: inline-block;
  margin-right: 25px;
  padding: 6.5px 0.25rem;
  position: relative;
  overflow: hidden;
}

nav .rightNav li:last-child {
  margin-right: 0;
}

/* nav .rightNav li.cart {
  overflow: visible;
} */

nav li a {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

nav .leftNav li a:first-child {
  padding-left: 0;
}

nav .rightNav li a:last-child {
  padding-right: 0;
}

nav li.cart::after {
  content: '2';
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #c3dab7;
  font-size: .8rem;
}

nav li a:hover {
  font-weight: 600;
}

nav li a:hover .line {
  animation: lineIn 400ms 1;
  -webkit-animation: lineIn 400ms 1;
}

/* About */
.about {
  background-color: #c3dab7;
}
.about .imgContainer {
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.about .imgContainer .brandImgContainer {
  position: absolute;
  top: -60px;
  left: -70px;
  width: 40%;
}

.about .content {
  width: 65%;
}

.about .contentBlock {
  width: 50%;
  float: left;
  text-align: center;
  padding: 10% 5% 0 5%;
}

/* testimonials SECTION */
.testimonials .imgContainer {
  width: 200px;
  margin: 0 auto;
}

.testimonials .imgContainer img {
  border-radius: 50%;;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonials .blurb {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-top: 30px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  position: absolute;
  top: 50%;
}

.arrow.left {
  transform: rotate(135deg) translateY(-50%);
  -webkit-transform: rotate(135deg) translateY(-50%);
  -moz-transform: rotate(135deg) translateY(-50%);
  -ms-transform: rotate(135deg) translateY(-50%);
  -o-transform: rotate(135deg) translateY(-50%);
  left: 10%;
}
.arrow.right {
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -moz-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  -o-transform: rotate(-45deg) translateY(-50%);
  border-color: #9e9e9e;
  right: 10%;
}


/* Features section */
.features {
  background: url(../images/home-4.jpeg) no-repeat center;
  background-size: cover;
}

.featuresList {
  width: 50%;
  float: right;
}

.featuresList .feature {
  width: calc(50% - 20px);
  float: left;
  margin: 0 20px 70px 0;
}

.feature .featureInfo {
  width: 75%;
  float: left;
}

.feature .icon {
  width: 25%;
  float: left;
}

.feature i {
  padding: 15px;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.feature i.thinIcon {
  padding: 15px 19px;
}

.feature i.mediumIcon {
  padding: 15px 16px;
}

.feature .blurb {
  color: #666;
  font-size: 1rem;
}

/* Team Section */

.team {
  position: relative;
  overflow: hidden;
}

.team::before {
  content:'';
  background-color: #999;
  width: 150px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) rotate(90deg);
  -o-transform: translateX(-50%) rotate(90deg);
}
.team .sectionHeading {
  margin-bottom: 90px;
}
.team .row {
  margin-bottom: 2.5rem;
}
.team .tile {
  width: calc(25% - 2.5rem);
  float: left;
  margin-right: 2.5rem;
  position: relative;
}

.team .row .tile:last-child {
  margin-right: 0;
}

.team .tile.textOnly::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.team .tile.largeTile {
  width: calc(50% - 2.5rem);
  background-color: #f6f6f6;
}

.team .tile.largeTile::after {
  content: '';
  display: block;
  padding-bottom: 47.6%;
}

.team .tile.largeTile .contentBlock {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.team .tile.textOnly .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  font-size: 1.5rem;
  color: #666;
  line-height: 1.5;
  text-align: center;
  width: 70%;
}

/* Contact section */

.contact .wrapper {
  padding: 0;
  max-width: none;
}
.contact .contentBlockContainer {
  width: 50%;
  float: left;
  position: relative;
}
.contact .contentBlockContainer::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.contact .contentBlockContainer.left {
  background-color: #c3dab7;
}
.contact .contentBlockContainer.right {
  background: dodgerblue url(../images/home-10.jpeg) no-repeat center;
  background-size: cover;
}

.contact .contentBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: 65%;
  text-align: center;
}

.contact .title {
  margin-bottom: 50px;
}

.contact .blurb {
  color: #666;
  margin-bottom: 40px;
}

.contact .cta {
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  padding: 15px 20px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
} 

/* Footer Section */
footer {
  background-color: #333;
}
.footerTop {
  color: #fff;
  border-bottom: 2px solid #666;
}
.footerItems {
  width: calc(100% / 3);
  float: left;
}

.footerItems .title {
  margin-bottom: 40px;
}

.footerItems .blurb {
  color: #9a9a9a;
}

.footerItems.center .title {
  text-align: center;
}

.footerItems.center ul {
  width: 60%;
  margin: 0 auto;
}

.footerItems.center li {
  line-height: 2.2;
}

.footerItems.center li::before {
  content: '\2022';
  margin-right: 5px;
  font-size: 1rem;
}

.footerItems.right {
  margin-right: 0;
  text-align: right;
}

.footerItems.right .blurb {
  margin-bottom: 20px;
}

.footerItems input {
  border: none;
}

.footerItems .textField {
  padding: 8px 10px;
  background-color: #f6f6f6;
}

.footerItems .textField:focus {
  border: 2px solid #FF4500;
  padding: 7px 8px;
}

.footerItems .textField::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: #999;
}

.footerItems .textField:-ms-input-placeholder {
  font-size: 1.2rem;
  color: #999;
}

.footerItems .textField::placeholder {
  font-size: 1.2rem;
  color: #999;
}

.footerItems .submitBtn {
  padding: 10px 15px 9.5px;
  background-color: #c3dab7;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  cursor: pointer;
}

.footerItems .shareIcons i {
  color: #fff;
  margin: 20px 20px 0 0;
}

.footerBottom .title  {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 60px 0;
  font-size: 1.4rem;
  letter-spacing: 7px;
}

/* Contact PAGE */

.pageContact header {
  background: #fff;
  min-height: 0;
  height: 100%;
}

.pageContact .hero {
  background: #e6e6e6 url(../images/contact-1.jpeg) no-repeat center;
  background-size: cover;
  height: 35vh;
  min-height: 100px;
  position: relative;
}

.pageContact .hero .heroHeading {
  position: absolute;
  bottom: -30px;
}

.pageContact .hero .heroHeading::before {
  content: '';
  background-color: #000;
  width: 28px;
  height: 3px;
  position: absolute;
  top: -50px;
}

.pageContact .title {
  font-weight: 600;
}

.pageContact .blurb {
  color: #999;
}

.pageContact .contentBlock {
  padding-bottom: 8rem;
}

.contactDetails .contentBlock.sectionHeader .title {
  margin-bottom: 25px 
}
.contactDetails .contactOptions {
  position: relative;
}
.contactDetails .contactOption {
  width: calc(100% / 3);
  float: left;
}

.contactOption.withBorder::before {
  content: '';
  width: 2px;
  height: 20rem;
  display: block;
  background-color: #f6f6f6;
  position: absolute;
  top: -40px;
}

.contactOption .title {
  letter-spacing: 5px;
}

.contactOption .contentBlock {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 0;
}

.contactOption .contentBlock.phone::before {
  content: '\f3cd';
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.contactOption .contentBlock.address::before {
  content: '\f3c5';
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.contactOption .contentBlock.email::before {
  content: '\f0e0';
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.contactUs .wrapper {
  padding-top: 0;
}

.contactForm input {
  border: none;
  width: calc((99% / 3) - 10px);
  padding-bottom: 15px;
  margin-right: 10px;
  border-bottom: 1px solid #efefef;
  font-family: 'Open sans';
}

.contactForm textarea {
  border: none;
  width: 100%;
  border-bottom: 1px solid #efefef;
  margin: 30px 0;
  font-family: 'Open sans';
}

.contactForm input:focus, .contactForm textarea:focus {
  border-bottom: 2px solid #FF4500;
}

.contactForm textarea::-webkit-input-placeholder {
  font-size: 1.1rem;
}

.contactForm textarea:-ms-input-placeholder {
  font-size: 1.1rem;
}

.contactForm textarea::placeholder {
  font-size: 1.1rem;
}

.contactForm .formSubmit.submitBtn {
  text-transform: uppercase;
  font-size: 1.4rem;
  width: initial;
  padding: 10px 0;
  background: none;
  border-color: #000;
  cursor: pointer;
}

.contactForm .formSubmit.submitBtn:active {
  border-bottom: 2px solid #ff4500;
}

.pageContact section.contactUs::after {
  content: '';
  background: #fff url(../images/contact-2.jpeg) no-repeat center;
  background-size: cover;
  height: 60vh;
  min-height: 500px;
  display: block;
}

/* Blog Page */

.blogPage header {
  background: #fff url('../images/blog-1.jpeg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.blogPage .authorImg {
  width: 75px;
  float: left;
  margin-right: 3rem;
}

.blogTitle .title {
  font-size: 4rem;
  font-weight: 700;
}

.blogPage .blurb {
  color: #999;
}

.blogTitle .breadcrumbs {
  color: #999; 
}

.blogTitle .breadcrumbs .active {
  color: #000;
}

.blogInfo {
  border-bottom: 1px solid #efefef;
  padding: 60px 0 30px;
}

.blogInfo .leftInfo, .blogInfo .rightInfo {
  width: 50%;
  float: left;
}

.blogInfo .authorImg img {
  border-radius: 50%;;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.infoTitle {
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.blogInfo .infoBlock {
  padding: 16.5px 0;
}

.rightInfo .infoBlock {
  float: left;
  width: calc(100% / 3);
}

.blogContent {
  padding: 5.5rem 0 4rem;
}

/* .blogContent br {
  display: block;
  margin: 10px;
} */

.blogContent p {
  margin-bottom: 20px;
}

.blogPage .socialShare .title {
  float: left;
  margin-right: 10px;
}

.blogPage .sectionHeader.title {
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 30px;
} 

.relatedPosts .wrapper {
  padding-top: 0;
  padding-bottom: 8rem;
}

.relatedPosts .blogPosts {
  padding: 4rem 0 0;
}
.relatedPosts .blogPost {
  width: calc((100% /3) - (60px / 3));
  float: left;
  margin-right: 30px;
}

.relatedPosts .blogPost a {
  overflow: hidden;
  display: block;
}

.relatedPosts .blogPost img {
  transition: all 10s ease;
  -webkit-transition: all 10s ease;
  -moz-transition: all 10s ease;
  -ms-transition: all 10s ease;
  -o-transition: all 10s ease;
}

.relatedPosts .blogPost img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.relatedPosts .blogPost:last-child {
  margin-right: 0;
}

.relatedPosts .date.title {
  margin: 3rem 0;
}

.discussion .wrapper {
  padding-top: 0;
}

.comment {
  width: 100%;
  margin-bottom: 3rem;
}

.commentsBlock {
  padding: 3.5rem 0 6rem;
}

.commentTile {
  float: left;
  width: calc(100% - (105px + 5rem));
  background-color: #f6f6f6;
  padding: 2rem 2.5rem 3rem;
  position: relative;
}

.commentTile::before {
  content: '';
  display: block;
  border-width: 10px 10px 10px 25px;
  border-style: solid;
  border-color: transparent transparent transparent #f6f6f6;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  left: -25px;
}

.commenterName {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.commenterName a.reply {
  color: #809079;
  font-style: italic;
  text-transform: initial;
}

.commentBlurb {
  margin-bottom: 10px;
}

.blogPage .contactForm {
  padding: 4rem 0 6rem;
} 